@use '../responsive';

body {
  font-family: monospace;
  margin: 0;

  section {
    display: flex;
    margin: 0;
    width: 100%;
  }
}

.landing {
  background-color: #222;
  box-sizing: border-box;
  color: #ddd;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem 2rem;
  width: 100%;

  @include responsive.lg {
    padding: 2rem 4rem;
  }
}

span.response {
  display: block;
}

.response {
  @include responsive.lg {
    font-size: 1.5rem;
  }
}

a {
  color: #55b;
}

@keyframes glow {
  0% {
    stroke: var(--color, #333);
  }
  100% {
    stroke: #aaa;
  }
}

.enter-rect {
  animation: 2s infinite alternate glow;
  stroke: #313131;
}

.enter {
  background: none;
  border: none;
  cursor: pointer;
  min-height: 60px;
  outline: none;
  height: 50px;
  width: 100px;
  padding: 0;

  &:hover {
    --color: #aaa;
  }

  @include responsive.lg {
    margin-left: 1rem;
  }
}

.enter-svg {
  height: 50px;
  width: 100px;
}

.enter-link {
  width: 100%;
}

.inline {
  align-items: left;
  display: flex;
  flex-direction: column;

  @include responsive.lg {
    align-items: center;
    flex-direction: row;
  }
}
