@use '../responsive';

body {
  font-family: monospace;
  margin: 0;

  section {
    display: flex;
    margin: 0;
    width: 100%;
  }
}

.landing-main {
  background-color: #222;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem 2rem;
  width: 100%;

  @include responsive.lg {
    padding: 2rem 4rem;
  }
}

.response {
  @include responsive.lg {
    font-size: 1.5rem;
  }
}

a {
  color: #97e;
}

.enter {
  max-width: 75px;

  @include responsive.lg {
    max-width: 100px;
    margin-left: 2rem;
  }
}

.last-line {
  display: flex;
  flex-direction: column;

  @include responsive.lg {
    flex-direction: row;
  }
}
