@use '../responsive';

.header {
  align-items: center;
  display: none;
  justify-content: space-evenly;
  padding-top: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;

  @include responsive.md {
    display: flex;
  }

  @include responsive.lg {
    justify-content: flex-end;
    padding: 1rem;
  }

  a {
    border-bottom: 2px solid transparent;
    color: #222;
    text-decoration: none;
    transition: border-color 0.5s ease-in;

    @include responsive.lg {
      padding: 1rem;
    }

    &:hover,
    &:focus-visible {
      border-color: #222;
      outline: none;
    }
  }

  img {
    border-radius: 50px;
    height: 15vh;
    margin: 0 1rem;
  }

  .profile {
    border: none;

    &:focus-visible {
      outline: 2px solid #222;
      outline-offset: 4px;
      border-radius: 50px;
    }
  }
}
