@use '../responsive';

.terminal {
  box-sizing: border-box;
  color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  padding: 0 2rem;
  scroll-behavior: smooth;
  width: 100%;

  @include responsive.lg {
    padding: 0 4rem;
  }
}

.terminal::-webkit-scrollbar {
    width: 1em;
}

.terminal::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.terminal::-webkit-scrollbar-thumb {
  background-color: #555;
}

span.response {
  display: block;
}

.response {
  @include responsive.lg {
    font-size: 1rem;
  }
}

a {
  color: #55b;
}

@keyframes glow {
  0% {
    stroke: var(--color, #333);
  }
  100% {
    stroke: #aaa;
  }
}

.enter-rect {
  animation: 2s infinite alternate glow;
  stroke: #313131;
}

.enter {
  background: none;
  border: none;
  cursor: pointer;
  min-height: 60px;
  outline: none;
  height: 50px;
  width: 100px;
  padding: 0;

  &:hover {
    --color: #aaa;
  }

  @include responsive.lg {
    margin-left: 1rem;
  }
}

.enter-svg {
  height: 50px;
  width: 100px;
}

.enter-link {
  width: 100%;
}

.inline {
  align-items: left;
  display: flex;
  flex-direction: column;

  @include responsive.lg {
    align-items: center;
    flex-direction: row;
  }
}
