@use '../responsive';

.projects {
  display: flex;
  flex-direction: column;
  margin: 20vh 0;
  max-height: 100%;
  overflow: auto;

  @include responsive.lg {
    margin: 15vh 0;
  }
}

.project {
  align-items: center;
  border: 1px solid #666;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-left: 10vw;
  position: relative;
  margin: 5vh;

  @include responsive.lg {
    margin: 10vh;
  }

  .title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover .title {
    opacity: 0;
  }

  &-text {
    flex-grow: 1;
    opacity: 0;
    transform: translate(0, -10%);
  }

  &-image {
    float: right;
    width: 30%;
    opacity: 0;
    margin: 1rem;

    @include responsive.lg {
      width: 25%;
    }
  }

  &:hover .project-text, &:hover .project-image {
    opacity: 1;
  }

  & * {
   transition: all 0.5s ease-in;
  }
}

.projects::-webkit-scrollbar {
  display: none;
}


.overlay {
  align-items: center;
  background-color: #3333;
  display: flex;
  justify-content: center;
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;

  &:hover {
    background-color: #333B;
    color: #FFF;

    > span {
      opacity: 1;
    }
  }

  > span {
    font-size: 2rem;
    opacity: 0;
  }
}

.overlay,
.overlay * {
  transition: all 0.5s ease-in;
}
