@use '../responsive';

.projects {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  width: 80%;
}

.project {
  align-items: center;
  background: #aaa2;
  border-radius: 8px;
  display: flex;
  height: 30vh;
  justify-content: space-between;
  padding: 1rem;
  padding-left: 10vw;
  position: relative;
  margin: 5vh;
  transition: all 0.5s ease-in;

  .title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover .title {
    opacity: 0;
  }

  &-text {
    flex-grow: 1;
    opacity: 0;
    transform: translate(0, -10%);
  }

  &-image {
    float: right;
    height: 80%;
    width: 30%;
    object-fit: contain;
    opacity: 0;
    margin: 1rem;

    @include responsive.lg {
      width: 25%;
    }
  }

  &:hover .project-text,
  &:hover .project-image,
  &:focus-within .project-text,
  &:focus-within .project-image {
    opacity: 1;
  }

  &:hover .title,
  &:focus-within .title {
    opacity: 0;
  }

  & * {
   transition: all 0.5s ease-in;
  }

  a {
    border-bottom: 2px solid transparent;
    color: #333;
    text-decoration: none;
    transition: border-color 0.5s ease-in;

    &:hover,
    &:focus-visible {
      border-color: #333;
      outline: none;
    }
  }
}
